{% extends "base.html" %}

{% block page_title%} Password Reset Page {% endblock %}

{% block page_heading %} Reset Password {% endblock %}

{% block content %}
<div class="container">
    <h2> Password Reset Page</h2>
    <form method="POST">
    <p>Hi, you've reached the password reset page.</p>
    <p>Once you enter your current password, hit the Reset Password button. Once this is complete, check your email!</p>
    <p>(Also check your spam!)</p>
    
    {% csrf_token %}
    
    {{ form.email.errors }}
    
    <p>
        <label for="id_email">Email address:</label>
        {{ form.email }}
        
        <button>Reset Password</button>
    </p>
</form>
    
</div>

{% endblock %}