{% extends "base.html" %} {% block content %}

<div class="row row-flex">
    
        {% for product in products %}
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <div class="panel-body">
                        <a href="{% url 'product_details' product.id %}">
                        <img src="{{ MEDIA_URL }}{{ product.image }}" width="100%"></div>
                            <p>{{ product.name }}</p>
                            <p>{{ product.price }}</p>
                            </a>
                        </div>
        {% endfor %}
</div>
 
{% endblock %}