{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block content %}

<div class="row row-flex">
    
    {% if cart_items|length > 0 %}

    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            <tbody>
                {% for item in cart_items %}

                <tr>
                    <td>
                        <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
                    </td>
                    <td>
                        {{ item.product.name }}
                    </td>
                    <td>
                        €{{ item.product.price }}
                    </td>
                    <td>
                        <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputAmount" class="sr-only">New Qty</label>
                                <div class="input-group">
                                    <input name="quantity" type="number" min="0" max="99" class="form-control" value="{{ item.quantity }}" required>
                    <td>
                                    <button type="submit" class="btn btn-primary .form-control-static"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Update</button>
                    </td>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        Total:
                    </td>
                    <td>
                        <p>€{{ total }}</p>
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
                    </td>
                </tr>
            </tbody>
        </thead>
    </table>
    
</div>
<div class="row">
    <a href="{% url 'all_products' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Continue Shopping</a>
</div>
    {% else %}
        <h2>Your cart is empty</h2>
    {% endif %}
    

{% endblock %}
